@{
   ViewData["Title"] = "Главная Страница";
}

<div class="text-center">
    <h1 class="display-4">Ангарский политехнический техникум</h1>
    <img src="https://photos.wikimapia.org/p/00/04/13/06/02_1280.jpg">
    <p>Адрес: 52-й кв-л, 1, Ангарск</p>
    <p>На данный момент в техникуме участвуют более 13 тысяч человек.</p>
    <p>Для получения дополнительной информации, пожалуйста, посетите <a href="http://www.aptangarsk.ru/">официальный сайт</a>.</p>
    <p>Ангарский политехнический техникум обеспечивает образовательную платформу, где вы можете проявить свой потенциал и обрести новые знания.</p>
    <p>Техникум реализует 6 образовательных программ среднего профессионального образования базового уровня, а также программы дополнительного образования и профессиональной подготовки.</p>
    <p>Режим работы администрации и других работников техникума по пятидневной рабочей неделе: начало работы в 8:00, перерыв на обед с 12:00 до 12:30, окончание работы в 16:30.</p>
    <p>Режим работы преподавателей по шестидневной рабочей неделе по расписанию учебных занятий.</p>
    <p>Телефон приемной комиссии: 73955512104.</p>
    <p>Адрес электронной почты: apt@aptangarsk.ru.</p>
    
</div>

