@{
   ViewData["Title"] = "Главная Страница";
}

<div class="text-center">
    <h1 class="display-4">Ангарский политехнчиеский техникум</h1>
    <img src="https://photos.wikimapia.org/p/00/04/13/06/02_1280.jpg">
</div>
