@{
    ViewData["Title"] = "О нас";
}
<h1 class="t">@ViewData["Title"]</h1>
<h2>Основные сведения</h2>
<p>
    Полное наименование: Государственное бюджетное профессиональное образовательное учреждение Иркутской области «Ангарский политехнический техникум»
</p>
<p>Сокращенное наименование: ГБПОУ ИО «АПТ»</p>
<p> Государственное бюджетное профессиональное образовательное учреждение Иркутской области «Ангарский политехнический техникум» организовано 1 августа 1947 года</p>

<h2>Услуги предостовляемые нашей организацией:</h2>
<p>Обучение Информатиков</p>
<p>Обучение Нефтянников</p>
<p>Обучение Бухгалтеров</p>
<p>Обучение Электриков</p>

<h1>Наши Контакты:</h1>
<h2>Борис Николаевич Бытын</h2>
<img src="/img/dir.jpg" style="width:150px; height:100px">
<p>Должность: Директор</p>
<a>Номер: 8-952-123-32-33</a>
<a>Почта: lalka@mail.ru</a>

<h2>Дудкин Хихыч Петрович</h2>
<img src="/img/zamm.jpg" style="width:150px; height:100px">
<p>Должность: Зам Директора</p>
<a>Номер: 8-912-433-32-33</a>
<a>Почта: bilodelo@mail.ru</a>

<h2>Валерия Надежда Констонтиновна</h2>
<img src="/img/buh.jpg" style="width:150px; height:100px">
<p>Должность: Главный Бухгалтер</p>
<a>Номер: 8-232-413-53-32</a>
<a>Почта: dengidengi@mail.ru</a>