
@{
    ViewData["Title"] = "Специальности";
}
<h1 class="t">@ViewData["Title"]</h1>
<br>
<h2>Информатики</h2>
<br>
<img src="/img/it.jpeg" style="width:350px; height:300px">
 <p>Информация:</p>
<p>Программист работает в команде с другими программистами и дизайнерами, чтобы спроектировать каждую часть приложения или программного обеспечения, а затем определить, как они будут работать вместе.</p>
 <a>Срок обучения: 3 года и 10 месяцев</a>
<br>
<h2>Бухгалтера</h2>
<br>
<img src="/img/buhgalter.jpg" style="width:350px; height:300px">
<p>Информация:</p>
<p>Специалист по бухгалтерскому учёту, работающий по системе учёта в соответствии с действующим законодательством. Слово «бухгалтер» - книгодержатель возникло в конце средневековья.</p>
<a>Срок обучения: 2 года и 10 месяцев</a>
<br>
<h2>Нефтянники</h2>
<br>
<img src="/img/neft.jpg" style="width:350px; height:300px">
<p>Информация:</p>
<p>это специалист, занятый в нефтяной отрасли, который может выполнять широкий спектр функций, начиная от добычи, переработки и транспортировки нефти до управления и планирования в этой сфере.</p>
<a>Срок обучения: 3 года и 10 месяцев</a>
<br>
<h2>Электрики</h2>
<br>
<img src="/img/electic.jpg" style="width:350px; height:300px">
<p>Информация:</p>
<p>это профессионалы, которые занимаются установкой, техническим обслуживанием и ремонтом систем электроснабжения, сетей связи, электрических цепей и приборов, систем освещения и управления электрооборудованием.</p>
<a>Срок обучения: 2 года и 10 месяцев</a>