@{
    ViewData["Title"] = "Специальности";
}
<h1 class="t">@ViewData["Title"]</h1>

<div class="contact">
    <div>
        <h2>Информатики</h2>
        <img class="photo" src="/img/it.jpeg">
        <p>Информация:</p>
        <p>Программист работает в команде с другими программистами и дизайнерами, чтобы спроектировать каждую часть приложения или программного обеспечения, а затем определить, как они будут работать вместе.</p>
        <p>Срок обучения: 3 года и 10 месяцев</p>
    </div>

    <div>
        <h2>Бухгалтера</h2>
        <img class="photo" src="/img/buhgalter.jpg">
        <p>Информация:</p>
        <p>Специалист по бухгалтерскому учёту, работающий по системе учёта в соответствии с действующим законодательством. Слово «бухгалтер» - книгодержатель возникло в конце средневековья.</p>
        <p>Срок обучения: 2 года и 10 месяцев</p>
    </div>

    <div>
        <h2>Нефтянники</h2>
        <img class="photo" src="/img/neft.jpg">
        <p>Информация:</p>
        <p>это специалист, занятый в нефтяной отрасли, который может выполнять широкий спектр функций, начиная от добычи, переработки и транспортировки нефти до управления и планирования в этой сфере.</p>
        <p>Срок обучения: 3 года и 10 месяцев</p>
    </div>

    <div>
        <h2>Электрики</h2>
        <img class="photo" src="/img/electic.jpg">
        <p>Информация:</p>
        <p>это профессионалы, которые занимаются установкой, техническим обслуживанием и ремонтом систем электроснабжения, сетей связи, электрических цепей и приборов, систем освещения и управления электрооборудованием.</p>
        <p>Срок обучения: 2 года и 10 месяцев</p>
    </div>
</div>
