html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2; 
    font-family: 'Comic Sans MS';
    color: #333;
}

h1, h2 {
    color: #444; 
    white-space: nowrap;
}


    h1.t {
        text-align: center;
    }

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .contact div {
        flex: 1 0 30%;
        margin: 1em;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 50px;
        background-color: #f2f2f2;
    }

        .contact div:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

img.photo {
    width: 50%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
img{
    width: 55%;
    height: 30%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

h2, p {
    padding: 15px;
    margin: 0;
}

table td, table th {
    padding: 10px;
    border: 1px solid #333;
    margin: 10px 0;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}